body {
    background: #f1f3f6;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    height: 400px;
    margin: 100px auto;
    display: flex;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
    background: white;
}

/* LEFT SIDE */
.left {
    width: 30%;
    background: #2874f0;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
}

.left img {
    width: 130px;
    margin-top: 70px;
}

.left p {
    margin-top: 20px;
    font-size: 16px;
}

/* RIGHT SIDE */
.right {
    width: 60%;
    padding: 40px;
}

.right h2 {
    margin-bottom: 5px;
}

.sub {
    font-size: 14px;
    color: rgb(247, 119, 0);
    margin-bottom: 30px;
}

.right input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #fb641b;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: white;
    color: #2874f0;
    border: 1px solid #2874f0;
    cursor: pointer;
}
